.banner {
  background: url(../../assets/images/vector.svg) no-repeat;
  background-color: #fdfdfd;
  background-size: 75%;
  background-position: center center;
}

.form {
  background-color: #f1f1f169;

  >button {
    width: 100%;
  }
}

:host ::ng-deep .p-password input {
  width: 15rem
}
